<%= render 'projects/header' %>

<header class="with_button">
  <h2>Writings</h2>
  <%= link_to 'Write something new', [:new, @project, :writing],
      class: 'btn' %>
</header>

<section class="writings">
  <% if @writings.any? %>
    <table class="writings">
      <tbody>
        <% @writings.each do |writing| %>
          <tr>
            <td class="time">
              <%= time_tag writing.created_at %>
            </td>
            <td>
              <%= link_to writing.title, [@project, writing] %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  <% else %>
    <p class="empty">
      There are no writings yet.
    </p>
  <% end %>
</section>
