<%= form_for [todo_list.project, todo_list, TodoItem.new], remote: true, format: :js do |f| %>
  <%= f.text_area :content, autofocus: true, data: { behavior: 'enter_submits' } %>
  <div class="actions">
    <%= f.submit "Add this item" %>
    <span class="or_cancel">or <%= link_to 'Cancel', '#', data: { behavior: 'cancel_add_todo_item_form' } %></span>
  </div>
<% end %>
