<%= form_for [todo_list.project, todo_list, TodoItem.new], remote: true, format: :js do |f| %>
  <%= f.text_area :content, autofocus: true %>
  <%= f.submit "Add this item" %>
  <span class="or_cancel">or <%= link_to 'Cancel', '#cancel' %></span>
<% end %>
