<header class="project">
  <h1><%= @project.name %></h1>
  <ul class="project_nav">
    <li><%= link_to 'Todos', [@project, :todo_lists] %></li>
    <li><%= link_to 'Writings', [@project, :writings] %></li>
    <li><%= link_to 'Settings', [:edit, @project] %></li>
  </ul>
</header>
