<div id="search_results" class="triangle_to_top">
  <h2>Search for '<%= @query %>'</h2>
  
  <% if @projects.any? %>
    <h3>Projects</h3>
    <ul>
      <% @projects.each do |project| %>
        <li>
          <%= link_to project.name, [project, :todo_lists] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
