.btn {
  font-size: 11px;
  line-height: 16px;
  padding: 2px 10px;
  margin: -1px 0 0;
  background: #fff;
  color: #000;
  border: 1px solid #ccc;
  // vertical-align: top;
  text-decoration: none;
  -webkit-appearance: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px #ddd;
  -moz-box-shadow: 0px 1px 0px #ddd;
  box-shadow: 0px 1px 0px #ddd;
  display: inline-block;
}
