form.new_todo_list,
form.edit_todo_list {
  margin: 0 0 10px;

  h3 {
    font-size: 15px;
    margin: -2px 0 5px;
    display: inline-block;
  }

  #todo_list_name {
    font-size: 16px;
    font-weight: bold;
    width: 36em;
    padding: 3px;
    margin-bottom: 6px;
  }

  input[type=submit] {
    font-size: 16px;
    position: relative;
    top: -1px;
  }
}
