section.projects {
  article {
    margin-bottom: 15px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }

  .updated_at {
    margin: 0;
    color: #555;
  }
}

header.project {
  h1 {
    margin: 0;
    font-size: 19px;
  }

  .project_nav {
    list-style: none;
    margin: 5px 0 15px -6px;
    padding: 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      padding: 3px 6px;
    }
  }
}
