section.projects {
  article {
    margin-bottom: 15px;
  }

  h2 {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }

  .updated_at {
    margin: 0;
    color: #555;
  }
}

section.project {
  h1 {
    margin: 0 0 15px;
    font-size: 19px;
  }
}
