.search_everything {
  input[type=search] {
    font-size: 16px;
    padding: 4px 8px;
    width: 20em;
  }
}

#search_results {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 9999;
  width: 50vw;
  background: #fff;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}