.todo_item {
  position: relative;

  &:hover {
    .nubbin {
      display: block;
    }
  }

  input[type=checkbox] {
    position: relative;
    top: 1px;
    cursor: pointer;
    vertical-align: top;
  }

  .content {
    display: inline-block;
    line-height: 1.35;
    max-width: 620px;
  }

  form.edit_todo_item {
    margin: 6px 0 15px 18px;
  }
}
