section.writing {
  h2 {
    font-size: 22px;
  }

  .controls {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 12px;
  }
  
  code {
    background: #ececec;
    color: #000;
    font-size: 14px;
    font-family: Monaco, Consolas, monospace;
    display: inline-block;
    padding: 1px 3px;
    border-radius: 2px;
  }
}

form.new_writing,
form.edit_writing {
  #writing_title {
    font-size: 22px;
    width: 77%;
    box-sizing: border-box;
  }

  #writing_content {
    width: 77%;
    box-sizing: border-box;
    min-height: 20em;
  }

  input[type=submit] {
    font-size: 16px;
  }
}

table.writings {
  border-collapse: collapse;

  .time {
    font-size: 12px;
    color: #666;
  }

  th, td {
    padding: 3px 6px;

    &:first-child {
      padding-left: 0;
    }
  }
}
